In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('sector1.csv')
df

              ds          y
0     2007-12-10   9.590761
1     2007-12-11   8.519590
2     2007-12-12   8.183677
3     2007-12-13   8.072467
4     2007-12-14   7.893572
...          ...        ...
2900  2016-01-16   7.817223
2901  2016-01-17   9.273878
2902  2016-01-18  10.333775
2903  2016-01-19   9.125871
2904  2016-01-20   8.891374

[2905 rows x 2 columns]

In [6]:
# convert all y values to integers
df['y'] = df['y'].astype(int) * 4 - 20
df

              ds   y
0     2007-12-10  16
1     2007-12-11  12
2     2007-12-12  12
3     2007-12-13  12
4     2007-12-14   8
...          ...  ..
2900  2016-01-16   8
2901  2016-01-17  16
2902  2016-01-18  20
2903  2016-01-19  16
2904  2016-01-20  12

[2905 rows x 2 columns]

In [7]:
# information on y values
df['y'].describe()

count    2905.000000
mean       10.614802
std         3.511196
min         0.000000
25%         8.000000
50%         8.000000
75%        12.000000
max        28.000000
Name: y, dtype: float64

In [ ]:
# rename columns to Время and Количество
df = df.rename(columns={'ds': 'Время', 'y': 'Количество'})

In [9]:
# save the data to a csv file
df.to_csv('sector1.csv', index=False)
for i in range(2, 7):
    df = pd.read_csv(f'sector{i}.csv')
    df['y'] = df['y'].astype(int) * 4 - 20
    df.to_csv(f'sector{i}.csv', index=False)